In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("C:\\Users\\user\\Downloads\\StudentsPerformance.csv")

In [6]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

# 1. Find out how many males and females participated in the test.

In [9]:
gender_counts = data['gender'].value_counts()
print("Number of males:", gender_counts['male'])
print("Number of females:", gender_counts['female'])

Number of males: 482
Number of females: 518

# 2. Explore students' parental level of education

In [10]:
parental_education_counts = data['parental level of education'].value_counts()
print("\nParental Level of Education:")
print(parental_education_counts)

Parental Level of Education:
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

# 3. Average scores for math, reading, and writing based on gender and test preparation course

In [18]:
average_scores_gender = data.groupby('gender').mean()[['math score', 'reading score', 'writing score']]
average_scores_course = data.groupby('test preparation course').mean()[['math score', 'reading score', 'writing score']]
print(average_scores_gender)
print("\n")
print(average_scores_course)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058


                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

# 4. Scoring variation for math, reading, and writing based on gender and test preparation course

In [19]:
score_variation_gender = data.groupby('gender').std()[['math score', 'reading score', 'writing score']]
score_variation_course = data.groupby('test preparation course').std()[['math score', 'reading score', 'writing score']]

print("\nScoring Variation based on Gender:")
print(score_variation_gender)

print("\nScoring Variation based on Test Preparation Course:")
print(score_variation_course)

Scoring Variation based on Gender:
        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

Scoring Variation based on Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

# 5. Bonus points for the top 25% of students based on math score

In [22]:
top_25_percentile_math = np.percentile(data['math score'], 75)
data['bonus_points'] = np.where(data['math score'] >= top_25_percentile_math, 5, 0)
print("\nUpdated Dataset with Bonus Points:")
print(data.head())

Updated Dataset with Bonus Points:
   gender race/ethnicity parental level of education         lunch  \
0  female        group C            some high school  free/reduced
1  female        group B                 high school  free/reduced
2  female        group B            some high school  free/reduced
3  female        group B                some college      standard
4  female        group C                some college  free/reduced

  test preparation course  math score  reading score  writing score  \
0                    none           0             17             10
1                    none           8             24             23
2                    none          18             32             28
3                    none          11             38             32
4                    none          22             39             33

   bonus_points
0             0
1             0
2             0
3             0
4             0